:root {
    --swiper-theme-color: #000;
}

.swiper-button-prev,
.swiper-button-next {
    width: 20px;
    height: 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    color: #000000 !important;
    font-weight: 700;         
}


.swiper-button-disabled {
    opacity: 0.3;
}
