.navbar {
  height: 60px;
  background: #dfdfdf;
  padding: 2px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 3dvh;
  font-family: "Cafe24ProUp", sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
